{% extends "layouts/layout.html" %}

{% block main %}
<div class="container mt-4" style="margin-bottom: 70px;">
    <div class="card shadow">
        <div class="card-header bg-dark text-white">
            <h1 class="card-title mb-0">{{ title }} Table</h1>
        </div>
        <div class="card-body">
            {% include 'includes/flash_messages.html' %}

            <div class="row mb-3">
                <div class="col-md-8 col-lg-9 mb-2 mb-md-0">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchInput" placeholder="Search {{ title.lower() }}s..." aria-label="Search {{ title.lower() }}s" oninput="search()" {% if not items %}disabled{% endif %}>
                        <button class="btn btn-outline-secondary" type="button" {% if not items %}disabled{% endif %}>Search</button>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 text-md-end">
                    <a href="{{ url_for(add_new_url) }}" class="btn btn-dark w-100">
                        <i class="{% if not request.path.startswith('/payroll_details')%}bi bi-plus-circle{% else %}bi bi-file-earmark-excel-fill{% endif %} me-2"></i>{% if not request.path.startswith('/payroll_details')%}{% if not request.path.startswith('/leave')%}Add{% else %}Submit{% endif %} New {{ title }}{% else %}Export With Excel Format{% endif %}
                    </a>
                </div>
            </div>

            {% if items %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">#</th>
                                {% block table_headers %}{% endblock %}
                                {% if not request.path.startswith('/payroll_details')%}<th scope="col" class="text-end">Actions</th>{% endif %}
                            </tr>
                        </thead>
                        <tbody>                            
                            {% block table_rows %}{% endblock %}
                        </tbody>
                    </table>
                </div>
            
                {% include 'includes/pagination.html' %}
            {% else %}
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">No {{ title }}s Found</h4>
                    <p>There are currently no {{ title.lower() }}s in the system. Click the "{% if not request.path.startswith('/leave')%}Add{% else %}Submit{% endif %} New {{ title }}" button to create a {{ title.lower() }}.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}