{% extends "layouts/form_layout.html" %}

{% block form_title %}Change Password{% endblock %}

{% block form_body %}
<form method="POST">
    <div class="mb-3">
        <label for="current_password" class="form-label">Current Password</label>
        <input type="password" class="form-control" id="current_password" name="current_password" required autofocus>
    </div>
    <div class="mb-3">
        <label for="new_password" class="form-label">New Password</label>
        <input type="password" class="form-control" id="new_password" name="new_password" required>
    </div>
    <div class="mb-3">
        <label for="confirm_password" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
    </div>
    <button type="submit" class="btn btn-dark w-100">Change Password</button>
</form>
{% endblock %}

{% block item_list %}profile{% endblock %}
